# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

*.pt
*.bin
*.ckpt

data/
